<div>
  <h2>Course Viewer: {{course.courseName}}</h2>
  <div class="row">
    <div class="col-4">
      <div>
        <h3>Module List</h3>
        <ul class="list-group">
          <li class="list-group-item wbdv-modules" *ngFor="let module of modules"
              [class.selected]="module === selectedModule"
              (click)="onSelectModule(module)">
            {{module.moduleName}}
          </li>
        </ul>
      </div>
    </div>

    <div class="col-8">
      <ul class="nav nav-tabs">
        <li class="nav-item wbdv-lessons" *ngFor="let lesson of lessons"
            [class.selected]="lesson === selectedLesson"
            (click)="onSelectLesson(lesson)">
          <a class="nav-link active">
            {{lesson.chapterName}}
          </a>
        </li>
      </ul>

      <div>
        <ul class="nav nav-pills">
          <li class="nav-item wbdv-topics" *ngFor="let topic of topics"
              [class.selected]="topic === selectedTopic"
              (click)="onSelectTopic(topic)">
            <a class="nav-link active">
              {{topic.topicName}}
            </a>
          </li>
        </ul>

        <div *ngIf="selectedTopic">
          <div class="widgets">
            <div *ngFor="let widget of widgets">
              <div *ngIf="widget.widgetName === 'Heading'">
                <h1 *ngIf="widget.headingSize === 1">
                  {{widget.headingText}}
                </h1>
                <h1 *ngIf="widget.headingSize === 2">
                  {{widget.headingText}}
                </h1>
                <h1 *ngIf="widget.headingSize === 3">
                  {{widget.headingText}}
                </h1>
                <h1 *ngIf="widget.headingSize === 4">
                  {{widget.headingText}}
                </h1>
                <h1 *ngIf="widget.headingSize === 5">
                  {{widget.headingText}}
                </h1>
                <h1 *ngIf="widget.headingSize === 6">
                  {{widget.headingText}}
                </h1>
              </div>
              <div *ngIf="widget.widgetName === 'Image'">
                <img src={{widget.imageUrl}} alt="image">
              </div>
              <div *ngIf="widget.widgetName === 'Link'">
                <a href={{widget.linkUrl}}>
                  {{widget.linkText}}
                </a>
              </div>
              <div *ngIf="widget.widgetName === 'List'">
                <div *ngIf="widget.listType == 1">
                  <ul>
                    <li *ngFor="let str of widget.listText.split('\n')">
                      {{str}}
                    </li>
                  </ul>
                </div>
                <div *ngIf="widget.listType == 2">
                  <ol>
                    <li *ngFor="let str of widget.listText.split('\n')">
                      {{str}}
                    </li>
                  </ol>
                </div>
              </div>
              <div *ngIf="widget.widgetName === 'Paragraph'">
                <p>{{widget.paragraphText}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
