<h2>Modules</h2>
<ul class="modules">
  <li *ngFor="let module of modules">
    <a [routerLink]="['/course/', courseId, 'module', module.id, 'lesson']">
      <span class="badge">{{module.id}}</span> {{module.moduleName}}
    </a>
  </li>
</ul>

<h2>Lessons</h2>
<ul class="lessons">
  <li *ngFor="let lesson of lessons">
    <a [routerLink]="['/course/', courseId, 'module', moduleId, 'lesson', lesson.id, 'topic']">
      <span class="badge">{{lesson.id}}</span> {{lesson.chapterName}}
    </a>
  </li>
</ul>

<h2>Topics</h2>
<ul class="lessons">
  <li *ngFor="let topic of topics">
    <a [routerLink]="['/course/', courseId, 'module', moduleId, 'lesson', lessonId, 'topic', topic.id, 'widget']">
      <span class="badge">{{topic.id}}</span> {{topic.topicName}}
    </a>
  </li>
</ul>
